html {
    font-size: 62.5%;
    box-sizing: border-box;
}

body {
    font-family: 'Raleway';
}

*{
    margin: 0;
    padding: 0;
}

img {
    max-width: 100%;
}

a {
    text-decoration: none;
    color: black;
}

.wrapper {
    max-width: 350px;
    margin: 0 auto; 
    width: 100%;
    overflow: hidden;
}

.background {
    background-color: #FFF9F1;
}
    
     
.nav__menu {
    list-style: none;
}

.nav__item {
    text-decoration: none;
    color: black;
    font-size: 1.6rem;
    font-family: 'Cinzel'
}

.nav__bar {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2.1rem 0 2.2rem 0;
    transition: all .6s ease-in-out;
}


.nav__bar.scroll-down {
    filter: drop-shadow(0 -10px 20px rgb(170, 170, 170));
    position: fixed;
    left: 0;
    background-color: white;
    z-index: 100;
}


.nav__bar-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.nav__menu {
    position: fixed;
    display: flex;
    flex-direction: column;
    top: 8.2rem;
    gap: 1.5rem;
    transition: .5s ease-in-out;
    width: 100%;
    align-items: center;
    left: -100%;
    background-color: white;
    height: 100vh;
    padding-top: 1rem;
    z-index: 100;
}

.nav__menu.active {
    left: 0;
}

.nav__bar.active {
    background-color: white;
}

.hero {
    position: relative;
    margin-bottom: 7rem;
    padding-bottom: 10rem;
    border-bottom: 1px solid black;
    z-index: 1;
}

.hero.scroll-down {
    padding-top: 12.2rem;
}

.hero h1 {
    margin: 0;
    font-family: 'Playfair Display';
    font-weight: 400;
    font-size: 3.9em;
    text-align: center;
    padding-bottom: 2.9rem;
}

h4 {
    font-size: 2.4rem;
    font-family: 'Playfair Display';
    font-weight: 500;
    text-align: center;
    padding-bottom: 1rem;
}

.hero .col-right {
    display: flex;
    justify-content: center;
}

.hero img {
    position: absolute;
    padding-top: 2rem;
    width: 30rem;
    z-index: -1;
}

.hero p,
footer p {
    text-align: center;
}

.border {
    border-bottom: 1px solid black;
}

p {
    font-size: 1.6rem;
    font-weight: 400;
    text-align: left;
    padding-bottom: 2rem;
}

h3 {
    font-size: 2.8rem;
    font-family: 'Playfair Display';
    font-weight: 500;
    text-align: center;
    padding-bottom: 3rem;
}

section {
    padding: 3rem 0 1rem;
}

.bold {
    padding: 0;
    font-weight: bold;
}

.bittoqubit {
    width: 26.6rem;
}

.bittoqubit-div {
    display: flex;
    justify-content: center;
    padding-bottom: 3rem;
}

.without {
    padding-bottom: 1rem;
}

.qtp {
    width: 34rem;
    height: 19rem;
    border-radius: .5rem;

}

.qtp-div {
    display: flex;
    justify-content: center;
    padding-bottom: 3rem;
}


.next {
    font-size: 1.6rem;
    font-weight: 500;
    display: flex;
    justify-content: center;
    margin-bottom: 2.1rem;
}

footer {
    background-color: #FFF9F1;
    width: 100%;
}

.footer-desktop {
    display: none;
}

.footer_logo {
    display: flex;
    justify-content: center;
    padding: 2.1rem 0 1.2rem 0;
}

.join {
    padding-bottom: 1.7rem;
}

.social_headers {
    display: flex;
    justify-content: center;
    padding-bottom: 1.2rem;
}

@media (min-width: 450px) {
    .wrapper {
        max-width: 400px;
    }
}

@media (min-width: 500px) {
    .wrapper {
        max-width: 450px;
    }
}

@media (min-width: 600px) {
    .wrapper.nav__bar-wrapper {
        max-width: 540px;
    }

    .qtp {
        width: 40.7rem;
        height: 22rem;
        border: 1px solid black;
    }

    .qtp-div {
        padding-top: 1rem;
    }

    .hero img {
        width: 35rem;
    }

    .hero {
        padding-bottom: 12rem;
        margin-bottom: 8rem;
    }

    .bittoqubit {
        width: 35rem;
    }

    .bittoqubit-div {
        padding-top: 1rem;
    }
}

@media (min-width: 700px) {
    .wrapper {
        max-width: 475px;
    }
}

@media (min-width: 750px) {
    .wrapper.nav__bar-wrapper {
        max-width: 630px;
    }

    .bittoqubit {
        width: 40rem;
    }

    .wrapper {
        max-width: 510px;
    }

}

@media (min-width: 800px) {
    .wrapper.nav__bar-wrapper {
        max-width: 720px;
    }

    .wrapper {
        max-width: 550px;
    }

    .hero img {
        width: 40rem;
    }

    .hero {
        padding-bottom: 13rem;
        margin-bottom: 9.5rem;
    }

    .qtp {
        width: 42.5rem;
        height: 24rem;
    }
}

@media (min-width: 900px) {
    .wrapper {
        max-width: 600px;
    }
    
    .wrapper.nav__bar-wrapper {
        max-width: 810px;
    }

    .hero img {
        width: 44rem;
    }

    .hero {
        padding-bottom: 13.5rem;
        margin-bottom: 11rem;
    }

    .qtp {
        width: 45rem;
        height: 27rem;
    }

    .bittoqubit {
        width: 45rem;
    }
}

@media (min-width: 950px) {
    .wrapper {
        max-width: 620px;
    }
}

@media (min-width: 1024px) {
    .wrapper.nav__bar-wrapper, 
    .wrapper-footer,
    .wrapper {
        max-width: 904px;
        margin: 0 auto;
    }

    .hero-content {
        width: 52.4rem;
        margin: 0 auto;
    }

    .intro {
        width: 67.7rem;
    }

    .superposition {
        width: 60.9rem;
        margin: 2rem auto;
        position: relative;
    }

    .superposition::before {
        position: absolute;
        content: "";
        background: url(../Images/arrow1.p.svg) no-repeat;
        width: 100%;
        height: 100%;
        left: -14rem;
        top: -2rem;
    }

    .measurement {
        width: 54.5rem;
        margin-left: auto;
        position: relative;
    }

    .measurement::before {
        position: absolute;
        content: "";
        background: url(../Images/arrow2.p.svg) no-repeat;
        width: 100%;
        height: 100%;
        background-size: 22%;
        left: -14rem;
        top: -2rem;
    }

    .hero h1 {
        font-size: 5.2rem;
    }

    .hero img {
        width: 47.6rem;
    }

    .hero {
        padding-bottom: 14rem;
        margin-bottom: 12rem;
    }

    .stage1 {
        display: flex;
        gap: 2rem;
        align-items: center;
    }

    .stage1 .content {
        width: 44.5rem;
    }

    .bittoqubit {
        height: 6.8rem;
        width: 43.3rem;
    }

    .bittoqubit-div {
        padding: 0;
    }

    .without {
        position: relative;
        width: 52.8rem;
        margin-left: auto;
    }

    .without::before {
        position: absolute;
        content: "";
        background: url(../Images/arrow3.p.svg) no-repeat;
        background-size: 40%;
        height: 100%;
        width: 100%;
        left: -25rem;
        top: 2rem;
    }

    .with {
        position: relative;
        width: 59.1rem;
    }

    .with::before {
        position: absolute;
        content: "";
        background: url(../Images/arrow4.p.svg) no-repeat;
        background-size: 40%;
        height: 100%;
        width: 100%;
        left: 60rem;
        top: -5rem;
    }

    .quantum_teleportation .content{
        width: 47.6rem;
        position: relative;
        margin-left: 3.3rem;
    }

    .others {
        margin-top: 4rem;
        display: flex;
        justify-content: center;
        gap: 5rem;
    }
    .superdense_coding {
        width: 34.9rem;
        position: relative;
    }

    .qec {
        width: 34.9rem;
        position: relative;
    }

    .quantum_teleportation {
        display: flex;
        align-items: center;
        gap: 4rem;
    }

    .qtp {
        width: 34rem;
        height: 19.8rem;
    }

    .qec::before, 
    .superdense_coding::before,
    .quantum_teleportation .content::before {
        position: absolute;
        content: "";
        background: url(../Images/star2.svg) no-repeat;
        width: 100%;
        height: 100%;
        top: -2.5rem;
        left: -1.5rem;
    }

    .footer-mobile {
        display: none;
    }

    .footer-desktop {
        display: block;
    }

    .footer_nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .footer_nav nav ul{
        display: flex;
        list-style: none;
        gap: 3.5rem;
        align-items: center;
        padding-top: .4rem;
    }

    .footer_nav li {
        font-family: 'Cinzel';
        font-size: 1.6rem;
    }

    .interaction {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-bottom: 5rem;
    }

    .newsletter {
        display: flex;
        gap: 1.1rem;
        align-items: center;
    }

    .newsletter input {
        padding: 1rem 11.5rem 1rem 2.5rem;
        border: 1px solid black;
        border-radius: .4rem;
    }

    .newsletter p {
        padding: 0;
    }

    .social_headers {
        padding: 0;
        align-items: center;
    }

    h4 {
        font-size: 2.7rem;
    }

    h3 {
        font-size: 3.2rem;
    }
}

@media (min-width: 1220px) {
    .hamburger {
        display: none;
    }

    .footer_nav nav ul {
        gap: 4.5rem;
    }
    
    .wrapper,
    .Pauli.gate {
        max-width: 1075px;
        margin: 0 auto;
    }

    .nav__menu {
        position: unset;
        width: unset;
        height: unset;
        flex-direction: row;
        gap: 4.5rem;
        padding-top: 0;
        background-color: unset;
        transition: none;
    }

    .wrapper.nav__bar-wrapper,
    .wrapper-footer {
        max-width: 1075px;
    }

    .hero .col {
        display: flex;
        gap: 5rem;
    }

    .hero .col-left {
        max-width: 52.4rem;
    }

    .hero img {
        position: unset;
        padding: 0;
        z-index: unset;
    }

    .hero h1 {
        padding-top: 2rem;
        padding-bottom: 7rem;
    }

    .hero {
        position: static;
        padding-bottom: 4rem;
        margin: 0;
    }

    h4 {
        text-align: left;
        font-size: 3rem;
    }

    .hero p {
        text-align: left;
    }

    section {
        padding-bottom: 2rem;
    }

    .stage1 {
        gap: 10rem;
    }

    .stage1 .content {
        width: 48rem;
    }

    .quantum_teleportation {
        gap: 10rem;
    }

    .qtp {
        width: 40rem;
        height: 20rem;
    }

    .others {
        gap: 10rem;
    }

    .with::before {
        background-size: 50%;
        left: 63rem;
    }
}

@media (min-width: 1300px) {
    .wrapper,
    .wrapper.nav__bar-wrapper,
    .wrapper-footer {
        max-width: 1114px;
    }
}


@media (min-width: 1440px) {
    .wrapper,
    .wrapper.nav__bar-wrapper,
    .wrapper-footer {
        max-width: 1200px;
    }

    section {
        padding: 4rem 0 3rem;
    }

    h4 {
        font-size: 3rem;
    }

    h3 {
        font-size: 3.6rem;
    }

    .hero img {
        width: 52.9rem;
    }

    .hero .col {
        gap: 8rem;
    }

    .with::before {
        background-size: 70%;
        left: 61rem;
    }

    .without::before {
        background-size: 50%;
        left: -32rem;
    }

    .quantum_teleportation .content {
        width: 61.6rem;
    }

    .others {
        padding-top: 3rem;
        gap: 15rem;
    }

    .qtp {
        width: 42.6rem;
        height: 23.5rem;
    }

    .bittoqubit {
        width: 50rem;
        height: 8rem;
    }
}

@media (min-width: 1540px) {
    .wrapper,
    .wrapper.nav__bar-wrapper,
    .wrapper-footer {
        max-width: 1278px;
    }

    .hero .col {
        gap: 15rem;
    }

    .hero .col-left {
        max-width: 60rem;
    }

    .goal .col-left {
        max-width: 59.7rem;
    }
}

@media (min-width: 1630px) {
    .wrapper,
    .wrapper.nav__bar-wrapper,
    .wrapper-footer {
        max-width: 1315px;
    }

    .hero .col {
        gap: 18rem;
    }

    .hero .col-left {
        max-width: 65rem;
    }

    .stage1 .content {
        width: 60rem;
    }

    .without {
        width: 64rem;
    }

    .without::before {
        left: -38rem;
    }

    .with {
        width: 70rem;
    }

    .with::before {
        left: 75rem;
        top: -10rem;
    }

    .qtp {
        width: 55rem;
        height: 30rem;
    }
}

@media (min-width: 1740px) {
    .wrapper,
    .wrapper.nav__bar-wrapper,
    .wrapper-footer {
        max-width: 1426px;
    }

    .hero .col {
        gap: 20rem;
    }

    .hero .col-left {
        max-width: 70rem;
    }

    .center {
        width: 1400px;
        margin: 0 auto;
    }
}

@media (min-width: 1920px) {
    .wrapper,
    .wrapper.nav__bar-wrapper,
    .wrapper-footer {
        max-width: 1540px;
    }

    .hero h1 {
        font-size: 6rem;
    }

    h4 {
        font-size: 3.2rem;
    }

    h3 {
        font-size: 4rem;
    }

    p {
        font-size: 1.8rem;
    }

    .nav__item {
        font-size: 1.8rem;
    }

    .hero img {
        width: 63.8rem;
    }

    .center {
        width: 1450px;
        margin: 0 auto;
    }
}